

/* ----------------------------------------- *\
    GP UI Card
    New card structure
    REPLACES .card elements

    Standard:
        .gp-ui-card

    Fixed Height:
        .gp-ui-card.gp-ui-card--sm
        .gp-ui-card.gp-ui-card--md
        .gp-ui-card.gp-ui-card--lg
        .gp-ui-card.gp-ui-card--xlg


    Usage:

    <div class="gp-ui-card">
        <div class="media">
            <a class="embed-responsive embed-responsive-16by9" href="#" target="_blank" title="Open this item">
                <img class="embed-responsive-item" src="/img/ImageNotAvailable.png" alt="Card Image">
            </a>
        </div>
        <div class="gp-ui-card__body">
            <div class="text--primary">Card Title</div>
            <div class="text--secondary">card sub-title</div>
            <div class="text--supporting">Lorem ipsum...</div>
        </div>
        <div class="gp-ui-card__footer">
            <div class="pull-right">
                <a href="#" class="btn btn-link pull-right">Action</a>
            </div>
        </div>
    </div>




    with tabbed details


    <div class="gp-ui-card" ng-class="{selected:map.selected}">

        <div class="media">
            <a class="embed-responsive embed-responsive-16by9" href="#" target="_blank" title="Open this item">
                <img class="embed-responsive-item" src="/img/ImageNotAvailable.png" alt="Card Image">
            </a>
        </div>

        <div class="gp-ui-card__body">
            <div class="text--primary">Card Title</div>
            <div class="text--secondary">card sub-title</div>
            <div class="text--supporting">
                <div class="gp-ui-card__details active" id="description">
                    <p>This is a helpful description</p>
                </div>
                <div class="gp-ui-card__details" id="author">
                    <div><strong>Author:</strong> John Doe</div>
                    <div><strong>Created:</strong> Jan 1, 2000</div>
                    <div><strong>Updated:</strong> Jan 1, 2001</div>
                </div>
            </div>
        </div>
        <div class="gp-ui-card__footer">
            <div class="pull-right">
                <a href="#" class="btn btn-link pull-right">Action</a>
            </div>
            <button type="button" class="btn btn-sm btn-link gp-ui-card__tab active"
                title="Description of this item" data-target="#description">
                <span class="glyphicon glyphicon-info-sign"></span>
            </button>
            <button type="button" class="btn btn-sm btn-link gp-ui-card__tab"
                title="Author information" data-target="#author">
                <span class="glyphicon glyphicon-user"></span>
            </button>
        </div>
    </div>


\* ----------------------------------------- */

.gp-ui-card {
    position:       relative;
    margin:         0 0 @sz-md;
    overflow:       hidden;
    border:         1px solid @color-gray-lt;
    border-radius:  4px;
    box-shadow:     0 1px 3px rgba(0,0,0,0.25);
    font-size:      @sz-md;
    background:     #fff;
    color:          inherit;
}

.gp-ui-card .media {
    display: block;
    background-color: #efefef;
    border-bottom: 1px solid @color-gray-xlt;

    &[ng-click], &[onclick] { cursor: pointer; }
}

.gp-ui-card__body {
    position: relative;

    //prevent fab from overlapping the title of the card
    &.has-fab .text--primary { margin-right: 3em; }

    //floating action button
    .gp-ui-card__fab {
        position: absolute;
        top:     -1.25em;
        right:     .5em;
        z-index:  1000;

        display:  flex;
        justify-content: center;
        align-items: center;

        &:hover .btn { box-shadow: 0 1px 3px rgba(0,0,0,0.4); }
    }
}

.gp-ui-card__body:first-child { padding-top: @sz-md; }
.gp-ui-card__body:last-child {
    padding-bottom: @sz-md;
    .text--supporting { padding-bottom: 0; }
}


.gp-ui-card .text--primary {
    display:     block;
    font-size:   @text-md;
    padding:     .5em 1em 0.5em;
    font-weight: 700;
    word-break:  break-all;
}
.gp-ui-card .text--secondary {
    display: block;
    font-size:  0.875em;
    padding:    0 1.143em 0.5715em;
    color:      @color-accent;
    font-weight: 700;
}

.gp-ui-card .text--supporting {
    font-size:  @text-sm;
    padding:    0 1.143em 0.5175em;
    color:      @color-gray-md;

    .gp-ui-card__details {
        display: none;

        &.active {
            display: block;
            color: inherit;
            background: transparent;
        }
    }

}

.gp-ui-card__footer {
    padding:    @sz-xs @sz-md;
    height:     3em;
    background: #fff;
    border-top: 1px solid @color-gray-xlt;

    .active {
        background: transparent;
        color: initial;
        border: initial;
    }

}

.gp-ui-card__tab {
    color:      @color-gray-lt;

    &:hover { color: @color-gray-md; }

    &.active {
        /* I know this is bad for screen readers,
            but it looks like garbage otherwise */
        outline:    none;
        position:   relative;
        color: @color-gray-md;

        &:after {
            bottom: 76%;
            left:   50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width:  0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(51, 153, 51, 0);
            border-bottom-color: @color-gray-lt;
            border-width: 8px;
            margin-left: -8px;
            transform: rotate(180deg);
        }
    }
}


/* Fixed Height variants */

.gp-ui-card.gp-ui-card--sm {

    .gp-ui-card__body {
        height: 2.5em;

        .text--primary {
            white-space: nowrap;
            overflow: hidden;
        }

        .text--secondary { display: none; }
        .text--supporting { display: none; }
    }

    .gp-ui-card__footer { border-top: none; }
}

.gp-ui-card.gp-ui-card--md {

    .gp-ui-card__body {
        height: 9em;
        overflow: hidden;
    }
}

.gp-ui-card.gp-ui-card--lg {

    .gp-ui-card__body { height: 12em; }

    .text--supporting {
        height:     6rem;
        overflow:   hidden;
    }

}

.gp-ui-card.gp-ui-card--xlg {

    .gp-ui-card__body {
        height: 15em;

        .text--supporting {
            height:     11em;
            max-height: 11em;
        }
    }
}



/*  ------------- strip cards ------------- *\
    these layout similar to Bootstrap media
    at tablet and higher resolutions
\*  ------------- strip cards ------------- */

@media(min-width:768px) {
    .gp-ui-card.gp-ui-card--strip .embed-responsive {
        display: table-cell;
        vertical-align: top;
    }
    .gp-ui-card.gp-ui-card--strip .embed-responsive.embed-responsive-16by9 {
        padding: 1em;
    }
    .gp-ui-card.gp-ui-card--strip .embed-responsive .embed-responsive-item {
        position: relative;
        height:   auto;
        width:    10em;
    }
    .gp-ui-card.gp-ui-card--strip .gp-ui-card__body {
        display: table-cell;
        vertical-align: top;
        width: 10000px;
    }
}




//----------------------------------------
// CARD FOOTER BUTTONS WITH DROPDOWN MENUS

.gp-ui-card__footer .btn-group {

    .dropdown-menu li a { text-align: left; }

    .glyphicon-option-horizontal {
        -webkit-transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        -o-transition-duration: 0.2s;
        transition-duration: 0.2s;

        -webkit-transition-property: -webkit-transform;
        -moz-transition-property: -moz-transform;
        -o-transition-property: -o-transform;
        transition-property: transform;

        -webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg);
    }

    &.open .glyphicon-option-horizontal {
        -webkit-transform:rotate(90deg);
        -moz-transform:rotate(90deg);
        -o-transform:rotate(90deg);
        transform:rotate(90deg);
    }

}
//----------------------------------------










.gp-ui-card.gp-ui-card--error {

    margin-top: 1em;

    .gp-ui-card__body:first-child {
        padding-top: 0;
    }

    .gp-ui-card__body,
    .gp-ui-card__body .text--primary,
    .gp-ui-card__body .text--secondary,
    .gp-ui-card__body .text--supporting,
    .gp-ui-card__body a,
    .gp-ui-card__body a:visited {
        background-color: @color-danger;
        color: @color-white;
    }

    .gp-ui-card__body a,
    .gp-ui-card__body a:visited {
        text-decoration: underline;
    }

    .gp-ui-card__body .text--supporting {
        max-height: 6em;
        overflow:   hidden;
        line-height: 1.5em;
    }
}













/* ----------------------------------------- *\
    Old card structure
    DEPRECATED
    Use .gp-ui-card instead (see above)
\* ----------------------------------------- */
.card {

    padding:        @sz-xlg;
    margin:         @sz-xlg 0;
    background:     @color-white;
    border-radius:  @sz-xs;
    box-shadow:     0 1px 3px rgba(0,0,0,0.25);

    .card-title {
        margin-top:     0;
        margin-bottom:  1em;
        width:          100%;

        &.centered { text-align: center; }
        &.righted { text-align: right; }
    }

    .card-footer {
        padding: @sz-sm 0 0;
        a { margin-left: @sz-md; }
    }
    .card-footer-right { text-align: right; }

}








.m-card {

    padding:       1em;
    margin:        0.5em 0;
    background:    #fff;
    border-radius: 4px;


    .m-card__title,
    .m-card__label,
    .m-card__heading,
    .m-card__header {
        display:        block;
        text-transform: uppercase;
        color:          @color-gray-dk;
        font-size:      1.125em;
        margin-top:     0;
        margin-bottom:  1rem;
        padding:        0.25em 0.5em;
    }

    .m-card__footer {
        padding: 0.5em;

        a, button { margin-left: 1em; }
    }

}




.m-card--simple {

    .m-card__thumb {
        width:  100%;
        border: 1px solid @color-gray-xlt;
        border-radius: 4px;
    }

    .m-card__label {
        display:       block;
        background:    @color-blue-xlt;
        color:         #fff;
        padding:       0.25em 0.5em;
        border-radius: 0 0 4px 4px;
        text-align:    center;
    }

    .m-card__content {
        display:         flex;
        justify-content: space-between;
        align-items:     stretch;

        & > * {
            flex:    1;
            padding: 0 2em;
        }
    }
}
