/* =======================================
 * Item-specific page styles
 */




 .l-body.l-body--item-grid {
     width: 100%;
     display: grid;
     grid-gap: 1em;
     grid-template-columns: 1fr;
     grid-template-areas:
         "about"
         "main"
         "aside";
     -ms-grid-rows: auto 1em auto 1em auto;
     -ms-grid-columns: 1fr;

     .l-body__about {
         grid-area: about;
         -ms-grid-row: 1;
         -ms-grid-column: 1;
         margin: 3em 1em 0 1em;
     }
     .l-body__main {
         grid-area: main;
         -ms-grid-row: 3;
        -ms-grid-column: 1;
         margin: 0 1em;
     }
     .l-body__aside {
         grid-area: aside;
         -ms-grid-row: 5;
         -ms-grid-column: 1;
         margin: 0 1em 3em 1em;
     }

     .l-body__about .m-section-group:last-child,
     .l-body__main .m-section-group:last-child {
         border-bottom: 3px solid #185b8a;
     }
 }
 @media(min-width:768px) {
     .l-body.l-body--item-grid {
         grid-gap: 0 2em;
         grid-template-columns: 2fr 25em;
         grid-template-areas:
             "main about"
             "main aside";
          -ms-grid-columns: 2fr 2em 25em;
          -ms-grid-rows: auto 0 auto;

         .l-body__about {
             -ms-grid-row: 1;
             -ms-grid-column: 3;
             margin: 3em 0 0;
             padding: 0 2em;
         }
         .l-body__main {
             -ms-grid-row: 1;
            -ms-grid-row-span: 3;
            -ms-grid-column: 1;
             margin: 3em 0em;
             padding: 0 1em 0 3em;
         }
         .l-body__aside {
             -ms-grid-row: 3;
             -ms-grid-column: 3;
             margin: 0 0 3em;
             padding: 0 2em;
         }

         .l-body__about, .l-body__aside {
             border-left: 1px solid @color-gray-xlt;
         }
     }
 }
 @media(min-width:1200px) {
     .l-body.l-body--item-grid {
         grid-template-columns: 3fr 31em;
         grid-template-areas:
             "main about"
             "main aside";
         -ms-grid-columns: 3fr 2em 31em;
          -ms-grid-rows: auto 0 auto;

         .l-body__about {
             -ms-grid-row: 1;
             -ms-grid-column: 3;
             padding: 0 8em 0 2em;
         }
         .l-body__main {
             -ms-grid-row: 1;
            -ms-grid-row-span: 3;
            -ms-grid-column: 1;
             padding: 0 0 0 3em;
         }
         .l-body__aside {
             -ms-grid-row: 3;
             -ms-grid-column: 3;
             padding: 0 8em 0 2em;
         }
     }
 }








.p-item__depiction {
    width: 100%;

    img {
        width: 100%;
    }

    .m-map-container {
        width: 100%;
        height: 400px;
    }
}



.p-gallery-items {
    display: grid;
    grid: auto-flow / 1fr;
    grid-gap: 1em 1em;

    & > * {
        text-align: center;
    }
}
@media(min-width: 768px) {
    .p-gallery-items {
        grid: auto-flow / 1fr 1fr;
    }
}
@media(min-width:992px) {
    .p-gallery-items {
        grid: auto-flow / 1fr 1fr 1fr;
    }
}
@media(min-width:1200px) {
    .p-gallery-items {
        grid: auto-flow / 1fr 1fr 1fr 1fr;
    }
}
