
.btn-round {
    border-radius:  @px-xlg;
    padding: 0.4375rem 0.625rem 0.375rem 0.6875rem;  //7px 10px 6px 11px;

    &.btn-sm {
        padding: @px-sm 0.4375rem 0.5625 0.375rem 0.625rem; //7px 9px 6px 10px
    }

    &.btn-xs {
        padding: 0.0625rem @px-sm; //1px 4px
    }
    &.btn-lg {
        border-radius: @px-xxlg;
    }
}


.btn {

    &.btn-square {
        border-radius: 0;
    }

    &.btn-primary, a&.btn-primary,
    &.btn-danger, a&.btn-danger,
    &.btn-info, a&.btn-info,
    &.btn-success, a&.btn-success,
    &.btn-warning, a&.btn-warning,
    &.btn-wild, a&.btn-wild { 
        .text-white();
    }

    &.btn-accent, a&.btn-accent {
        .accented();

        &:hover, &:focus, &.active {
            background-color: darken(@color-accent, 5%);
            border-color: darken(@color-accent, 10%);
            .text-white()
        }
    }

    &.btn-wild, a&.btn-wild {
        background-color: desaturate(@color-wild, 20%);
        border-color: darken(desaturate(@color-wild, 20%), 5%);

        &:hover, &:focus, &.active {
            background-color: darken(desaturate(@color-wild, 20%), 5%);
            border-color: darken(desaturate(@color-wild, 20%), 10%);
        }
    }


    // //may not be needed if <!DOCTYPE html> is on the page
    // .glyphicon {
    //     padding: 3px 0; /* to make icon buttons have same height as text buttons */
    // }
}


.btn .hidden-on-active {
    display: initial;

    .active& {
        display: none;
    }
}
.btn .visible-on-active {
    display: none;

    .active& {
        display: initial;
    }
}



.btn-account {

    header .pull-right & {
        padding: @px-none;
    }

    & > button, & > .btn {
        color:      @color-gray-md;
        padding:    @px-xlg @px-lg;
        border:     none;
        text-decoration: none;
        font-size:          inherit;
        

        & > .glyphicon {
            background-color:   @color-gray-md;
            padding:            @px-sm;
            border-radius:      @px-xlg;
            .text-white();
            vertical-align: bottom;
        }
    }

    &:hover > .btn {
        background-color:   lighten(@color-gray-xlt, 5%);
        text-decoration:    none;
    }

    .account-details {
        color:   @color-gray-md;
        padding: @px-none @px-xlg;

        .media-heading { 
            font-weight: 700; 
        }
        .glyphicon { 
            font-size: 6rem; 
        }
    }

}
