
/* override default font size */
body .btn {
    font-size: 1rem;

    &.btn-sm {
        font-size: .75rem;
    }
}




/* ---------------------------- *\
    Rounded Buttons
\* ---------------------------- */

.btn-round {
    
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 2.5rem;
    padding: 0.125rem 0 0;

    &.btn-sm {
        width: 1.875rem;
        height: 1.875rem;
        border-radius: 2.5rem;
        padding: .1rem 0 0;
    }

    &.btn-xs {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 2rem;
        padding: .1rem 0 0;
    }

    &.btn-lg {
        border-radius: @px-xxlg;
        padding: .45rem .5rem;
    }
}



/* ---------------------------- *\
    Bootstrap Button Overrides
    & extensions
\* ---------------------------- */

.btn {

    &.btn-square {
        border-radius: 0;
    }

    &.btn-primary, a&.btn-primary,
    &.btn-danger, a&.btn-danger,
    &.btn-info, a&.btn-info,
    &.btn-success, a&.btn-success,
    &.btn-warning, a&.btn-warning,
    &.btn-wild, a&.btn-wild { 
        .text-white();
    }

    &.btn-accent, a&.btn-accent {
        .accented();

        &:hover, &:focus, &.active {
            background-color: darken(@color-accent, 5%);
            border-color: darken(@color-accent, 10%);
            .text-white()
        }
    }

    &.btn-wild, a&.btn-wild {
        background-color: desaturate(@color-wild, 20%);
        border-color: darken(desaturate(@color-wild, 20%), 5%);

        &:hover, &:focus, &.active {
            background-color: darken(desaturate(@color-wild, 20%), 5%);
            border-color: darken(desaturate(@color-wild, 20%), 10%);
        }
    }

    &.btn-white, a&.btn-white {
        background-color: #fff;
        border-color: #eaeaea;
        color: @color-gray-md;

        &:hover, &:focus, &.active {
            background-color: #eaeaea;
            border-color: #dedede;
            color: @color-gray-dk;
        }
    }

    &.btn-default-outline, 
    &.btn-secondary-outline {
        background-color: transparent;
        border-color: @color-gray-md;
        color: @color-gray-md;

        &:hover {
            background-color: @color-gray-xlt;
        }
    }
    &.btn-primary-outline {
        background-color: transparent;
        border-color: #337ab7;
        color: #337ab7;

        &:hover {
            background-color: #337ab7;
            color: #fff;
        }
    }
    &.btn-accent-outline {
        background-color: transparent;
        border-color: @color-accent;
        color: @color-accent;

        &:hover {
            background-color: @color-accent;
            color: #fff;
        }   
    }
    &.btn-info-outline {
        background-color: transparent;
        border-color: @color-info;
        color: @color-info;

        &:hover {
            background-color: @color-info;
            color: #fff;
        }   
    }
    &.btn-warning-outline {
        background-color: transparent;
        border-color: @color-warning;
        color: @color-warning;

        &:hover {
            background-color: @color-warning;
            color: #fff;
        }   
    }
    &.btn-danger-outline {
        background-color: transparent;
        border-color: @color-danger;
        color: @color-danger;

        &:hover {
            background-color: @color-danger;
            color: #fff;
        }   
    }
    &.btn-wild-outline {
        background-color: transparent;
        border-color: @color-wild;
        color: @color-wild;

        &:hover {
            background-color: @color-wild;
            color: #fff;
        }   
    }
    &.btn-white-outline {
        background-color: transparent;
        border-color: #fff;
        color: #fff;

        &:hover {
            background-color: @color-primary;
            color: #fff;
        }   
    }

    // //may not be needed if <!DOCTYPE html> is on the page
    // .glyphicon {
    //     padding: 3px 0; /* to make icon buttons have same height as text buttons */
    // }
}

.btn.btn-link.active {
    //override .active style for link buttons
    background-color: transparent;
}



.btn .hidden-on-active {
    display: initial;

    .active& {
        display: none;
    }
}
.btn .visible-on-active {
    display: none;

    .active& {
        display: initial;
    }
}





/* ---------------------------- *\
    Account Button
    aka, "sign in" / details
\* ---------------------------- */
.btn-account {

    header .pull-right & {
        padding: @px-none;
    }

    & > button, & > .btn {
        color:      @color-gray-md;
        padding:    @px-xlg @px-lg;
        border:     none;
        text-decoration: none;
        font-size:          inherit;
        

        & > .glyphicon {
            background-color:   @color-gray-md;
            padding:            @px-sm;
            border-radius:      @px-xlg;
            .text-white();
            vertical-align: bottom;
        }
    }

    &:hover > .btn {
        background-color:   lighten(@color-gray-xlt, 5%);
        text-decoration:    none;
    }

    .account-details {
        color:   @color-gray-md;
        padding: @px-none @px-xlg;

        .media-heading { 
            font-weight: 700; 
        }
        .glyphicon { 
            font-size: 6rem; 
        }
    }

}




/* ---------------------------- *\
    Animated "Multi" Buttons
    Buttons that expand into 
    multiple buttons 
\* ---------------------------- */

.btn-group-multi {

    position: relative;
    width: auto;
    height: auto;

    .btn {
        transition: all .3s ease-out;
        -ms-transition: all .3s ease-out;
        -moz-transition:all .3s ease-out;
        -webkit-transition:all .3s ease-out;
    }

    .btn-multi {
        position: relative;
        z-index: 2;
        width: 2.5rem;  //should be a bit bigger to hide option btns
        height: 2.5rem; //
            
        //padding fix for glyphicon-option-horizontal icon
        &.btn-round.btn-dots {
            padding-top: 0.3rem;
        }
    }

    .btn-multi-option { 
        
        position: absolute;
        top: 1px;
        left:1px;
        z-index: 1;
        box-shadow: none!important;

        -webkit-transform: rotate(180deg);
           -moz-transform: rotate(180deg);
                transform: rotate(180deg);
    }

    &.active {        
        background: none;   /* remove selected color as background */
    
        //rotate activator button if "hoverable"
        &.hoverable .btn-multi {
            -webkit-transform: rotate(90deg);
               -moz-transform: rotate(90deg);
                    transform: rotate(90deg);
        }

        //animate and show hidden options on active
        .btn-multi-option {
            
            -webkit-transform: rotate(0deg);
               -moz-transform: rotate(0deg);
                    transform: rotate(0deg);

            &:nth-child(2) {
                top: -3rem;
            }
            &:nth-child(3) { 
                top:  -3rem*sin(45deg); 
                left:  3rem*cos(45deg);
            }
            &:nth-child(4) { 
                left:  3rem;
            }
            &:nth-child(5) {
                top:   3rem*sin(45deg); 
                left:  3rem*cos(45deg); 
            }
            &:nth-child(6) { 
                top:   3rem;
            }
        }

        //if using icon-options inside .btn-multi, 
        // enable its animations when .btn-group-multi is active
        &.active .btn-multi .icon-options, 
        &[aria-expanded="true"] .btn-multi .icon-options {
            background: none;

            &::before {
                width: 1em;
                height: 0.2em;
                left: -.35em;
                -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                        transform: rotate(45deg);
            }

            &::after {
                width: 1em;
                height: 0.2em;
                right: -.35em;
                -webkit-transform: rotate(-45deg);
                    -ms-transform: rotate(-45deg);
                        transform: rotate(-45deg);
            }

            &::before, &::after {
                -webkit-transition: width 0.3s 0s, height 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
                        transition: width 0.3s 0s, height 0.3s 0.3s, transform 0.3s 0.3s;
            }

        }


    }


    &.btn-group-multi-right.active .btn-multi-option {

        &:nth-child(2) {
            top: -3rem;
        }
        &:nth-child(3) { 
            top:  -3rem*sin(45deg); 
            left: -3rem*cos(45deg);
        }
        &:nth-child(4) { 
            left: -3rem;
        }
        &:nth-child(5) {
            top:   3rem*sin(45deg); 
            left: -3rem*cos(45deg); 
        }
        &:nth-child(6) { 
            top: 3rem;
        }

    }

}




/* prevent outline shadow around selected button */
.btn-group-multi.active,
.btn-group-multi.active:focus, .btn-group-multi:active:focus, .btn-group-multi:focus,
.btn-group-multi.active.focus, .btn-group-multi:active.focus, .btn-group-multi.focus,
.btn-group-multi .btn-multi,
.btn-group-multi.active:focus .btn-multi, .btn-group-multi:active:focus .btn-multi, .btn-group-multi:focus .btn-multi,
.btn-group-multi.active.focus .btn-multi, .btn-group-multi:active.focus .btn-multi, .btn-group-multi.focus {
    outline: none;
    box-shadow: none;
    border:none;
}   



@media(min-width: @screen-md-min) {
    
    /* on non-mobile, enable expand on hover */

    .btn-group-multi.hoverable:hover {

        .btn-multi {
            transform: rotate(90deg);
            -moz-transform:rotate(90deg);
            -webkit-transform:rotate(90deg);
        }

        .btn-multi-option {
            
            transform: rotate(0deg);
            -moz-transform:rotate(0deg);
            -webkit-transform:rotate(0deg);

            &:nth-child(2) {
                top: -3rem;
            }
            &:nth-child(3) { 
                top:  -3rem*sin(45deg); 
                left:  3rem*cos(45deg);
            }
            &:nth-child(4) { 
                left:  3rem;
            }
            &:nth-child(5) {
                top:   3rem*sin(45deg); 
                left:  3rem*cos(45deg); 
            }
            &:nth-child(6) { 
                top:   3rem;
            }
        }

    }


    .btn-group-multi.btn-group-multi-right.hoverable:hover {

        .btn-multi-option {

            &:nth-child(2) {
                top: -3rem;
            }
            &:nth-child(3) { 
                top:  -3rem*sin(45deg); 
                left: -3rem*cos(45deg);
            }
            &:nth-child(4) { 
                left: -3rem;
            }
            &:nth-child(5) {
                top:   3rem*sin(45deg); 
                left: -3rem*cos(45deg); 
            }
            &:nth-child(6) { 
                top: 3rem;
            }
        }

    }
}






/* -------------------------------- *\
   Update colors for animated icons 
   when inside colored buttons
\* -------------------------------- */

.btn-info > .icon-options, 
.btn-primary > .icon-options, 
.btn-accent > .icon-options,
.btn-wild > .icon-options,
.btn-danger > .icon-options {
    background: #fff;
    
    &::before,
    &::after { background-color: #fff; }
}

.btn-info > .icon-hamburger-menu, 
.btn-primary > .icon-hamburger-menu, 
.btn-accent > .icon-hamburger-menu,
.btn-wild > .icon-hamburger-menu,
.btn-danger > .icon-hamburger-menu {
    background: #fff;

    &::before,
    &::after { background-color: #fff; }
    &::before { border-bottom-color: #fff; }
    &::after { border-top-color: #fff; }
}

.btn-info > .icon-search, 
.btn-primary > .icon-search, 
.btn-accent > .icon-search,
.btn-wild > .icon-search,
.btn-danger > .icon-search {

    &::before { border-color: #fff; }
    &::after { background-color: #fff; }
}

.btn-info > .icon-checked, 
.btn-primary > .icon-checked, 
.btn-accent > .icon-checked,
.btn-wild > .icon-checked,
.btn-danger > .icon-checked {
    border-color: #fff;

    &::after {
        border-right-color: #fff;
        border-top-color: #fff;
    }
}
