
.card {

    padding:    @px-xlg;
    margin:     @px-xlg @px-none;
    background: @color-white;
    border-radius: @px-xs;
    .shadowed-bottom-lt(); 

    .card-title {
        .text-accented();
        margin-top:     0;
        margin-bottom: 1rem;
        width:        100%;
        
        &.centered {
            text-align: center;
        }
        &.righted {
            text-align: right;
        }
    } 

    .card-footer {
        padding: @px-md 0 0;

        a {
            margin-left: @px-xlg;
        }
    }
    .card-footer-right {
        text-align: right;
    }

}
