
.card {

    padding:    @px-xlg;
    margin:     @px-xlg @px-none;
    background: @color-white;
    border-radius: @px-xs;
    .shadowed-bottom-lt(); 

    .card-title {
        .text-accented();
        margin-top:   0;
        width:        100%;
        overflow:     hidden;
        white-space:  nowrap;

        &.card-title-wrap {
            overflow:     visible;
            white-space:  normal;
        }

        &.centered {
            text-align: center;
        }
        &.righted {
            text-align: right;
        }
    } 

    h3.card-title { line-height: 1.35; }
    h4.card-title { line-height: 1.9; }
    h5.card-title { line-height: 2.3; }

}
