

/* ----------------------------------------- *\
    GP UI Card
    New card structure
    REPLACES .card elements

    Standard: 
        .gp-ui-card
        
    Fixed Height:
        .gp-ui-card.gp-ui-card--sm
        .gp-ui-card.gp-ui-card--md
        .gp-ui-card.gp-ui-card--lg
        .gp-ui-card.gp-ui-card--xlg

    
    Usage:

    <div class="gp-ui-card">
        <div class="media">
            <a class="embed-responsive embed-responsive-16by9" href="#" target="_blank" title="Open this item">
                <img class="embed-responsive-item" src="/img/ImageNotAvailable.png" alt="Card Image">
            </a>
        </div>
        <div class="gp-ui-card__body">
            <div class="text--primary">Card Title</div>
            <div class="text--secondary">card sub-title</div>
            <div class="text--supporting">Lorem ipsum...</div>
        </div>
        <div class="gp-ui-card__footer">
            <div class="pull-right">
                <a href="#" class="btn btn-link pull-right">Action</a>
            </div>
        </div>
    </div>




    with tabbed details


    <div class="gp-ui-card" ng-class="{selected:map.selected}">

        <div class="media">
            <a class="embed-responsive embed-responsive-16by9" href="#" target="_blank" title="Open this item">
                <img class="embed-responsive-item" src="/img/ImageNotAvailable.png" alt="Card Image">
            </a>
        </div>

        <div class="gp-ui-card__body">
            <div class="text--primary">Card Title</div>
            <div class="text--secondary">card sub-title</div>
            <div class="text--supporting">
                <div class="gp-ui-card__details active" id="description">
                    <p>This is a helpful description</p>
                </div>
                <div class="gp-ui-card__details" id="author">
                    <div><strong>Author:</strong> John Doe</div>
                    <div><strong>Created:</strong> Jan 1, 2000</div>
                    <div><strong>Updated:</strong> Jan 1, 2001</div>
                </div>
            </div>
        </div>
        <div class="gp-ui-card__footer">
            <div class="pull-right">
                <a href="#" class="btn btn-link pull-right">Action</a>
            </div>        
            <button type="button" class="btn btn-sm btn-link gp-ui-card__tab active" 
                title="Description of this item" data-target="#description">
                <span class="glyphicon glyphicon-info-sign"></span>
            </button>
            <button type="button" class="btn btn-sm btn-link gp-ui-card__tab" 
                title="Author information" data-target="#author">
                <span class="glyphicon glyphicon-user"></span>
            </button>
        </div>
    </div>


\* ----------------------------------------- */

.gp-ui-card {
    position:       relative;
    margin:         0 0 1em;
    overflow:       hidden;
    border:         1px solid @color-gray-lt;
    border-radius:  4px;
    box-shadow:     0 1px 3px rgba(0,0,0,0.25);
    font-size:      1rem;
    background:     #fff;
    color:          inherit;
}

.gp-ui-card .media {
    display: block;
    background-color: #efefef;
    border-bottom: 1px solid @color-gray-xlt;

    &[ng-click], &[onclick] {
        cursor: pointer;
    }
}

.gp-ui-card__body {
    position: relative;

    //floating action button
    .gp-ui-card__fab {
        position: absolute;
        top: -1.25em;
        right: .5em;
        z-index: 1000;

        display: flex;
        justify-content: center;
        align-items: center;

        .btn-round {
            display: flex;
            justify-content: center;
            align-items: center;            
        }

        &:hover {
            .btn {
                box-shadow: 0 1px 3px rgba(0,0,0,0.4);
            }
        }
    }

    //increase padding on card titles when a fab is provided
    // to ensure no overlap occurs
    .gp-ui-card__fab + .text--primary {
        padding-top: 1em;
    }
}

.gp-ui-card__body:first-child {
    padding-top: @px-xlg;
}
.gp-ui-card__body:last-child {
    padding-bottom: @px-xlg;

    .text--supporting {
        padding-bottom: 0;
    }
}


.gp-ui-card .text--primary {    
    display:     block;        
    font-size:   1em;
    padding:     .5em 1em 0.5em;
    font-weight: 700;
}
.gp-ui-card .text--secondary {
    display: block;
    font-size:  0.875em;
    padding:    0 1.143em 0.5715em;
    color:      @color-accent;
    font-weight: 700;
}

.gp-ui-card .text--supporting {
    font-size:  0.875em;
    padding:    0 1.143em 0.5175em;
    color:      @color-gray-md;

    .gp-ui-card__details {
        display: none;

        &.active {
            display: block;
            color: inherit;
            background: transparent;
        }
    }

}

.gp-ui-card__footer {
    padding: 0.5em 1em;
    height:     3em;
    background: #fff;
    border-top: 1px solid @color-gray-xlt;
    
    .active {
        background: transparent;
        color: initial;
        border: initial;
    }

}   

.gp-ui-card__tab {
        
    color:      @color-gray-lt;

    &:hover {
        color: @color-gray-md;
    }

    &.active {
        
        //I know this is bad for screen readers, but it looks like garbage otherwise
        outline:    none; 

        position:   relative;
        color: @color-gray-md;
        
        &:after {
            bottom: 76%;
            left:   50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width:  0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(51, 153, 51, 0);
            border-bottom-color: @color-gray-lt;
            border-width: 8px;
            margin-left: -8px;
            transform: rotate(180deg);
        }
    }
}


/* Fixed Height variants */

.gp-ui-card.gp-ui-card--sm {

    .gp-ui-card__body {
        height: 2.5em;

        .text--primary {
            white-space: nowrap;
            overflow: hidden;
        }

        .text--secondary {
            display: none;
        }

        .text--supporting {
            display: none;
        }
    }

    .gp-ui-card__footer {
        border-top: none;
    }
}

.gp-ui-card.gp-ui-card--md {
    
    .gp-ui-card__body {
        height: 9em;
        overflow: hidden;
    }
}

.gp-ui-card.gp-ui-card--lg {

    .gp-ui-card__body {
        height: 12em;
    }

    .text--supporting {
        height:     6rem;
        overflow:   hidden;
    } 

}

.gp-ui-card.gp-ui-card--xlg {

    .gp-ui-card__body {
        height: 15em;

        .text--supporting {
            height:     11em;
            max-height: 11em;
        }
    }
}



/*  ------------- strip cards ------------- *\
    these layout similar to Bootstrap media 
    at tablet and higher resolutions
\*  ------------- strip cards ------------- */    

@media(min-width:768px) {
    .gp-ui-card.gp-ui-card--strip .embed-responsive {
        display: table-cell;
        vertical-align: top;
    }
    .gp-ui-card.gp-ui-card--strip .embed-responsive.embed-responsive-16by9 {
        padding: 1em;
    }
    .gp-ui-card.gp-ui-card--strip .embed-responsive .embed-responsive-item {
        position: relative;
        height:   auto;
        width:    10em;
    }
    .gp-ui-card.gp-ui-card--strip .gp-ui-card__body {
        display: table-cell;
        vertical-align: top;
        width: 10000px;
    }
}














/* ----------------------------------------- *\
    Old card structure
    DEPRECATED 
    Use .gp-ui-card instead (see above)
\* ----------------------------------------- */
.card {

    padding:    @px-xlg;
    margin:     @px-xlg @px-none;
    background: @color-white;
    border-radius: @px-xs;
    .shadowed-bottom-lt(); 

    .card-title {
        .text-accented();
        margin-top:     0;
        margin-bottom: 1rem;
        width:        100%;
        
        &.centered {
            text-align: center;
        }
        &.righted {
            text-align: right;
        }
    } 

    .card-footer {
        padding: @px-md 0 0;

        a {
            margin-left: @px-xlg;
        }
    }
    .card-footer-right {
        text-align: right;
    }

}
