

/* ------------------------------------------- *\
    Grid Item


    ex.

    <div class="col-md-4 col-sm-3 col-xs-12">
      <div class="grid-item">
        <div class="thumbnail">
          <img src="..." alt="...">
        </div>
        <div class="grid-item-title">Item Label</div>
        <div class="grid-item-badge">Badge</div>
        <div class="grid-item-details">
          <!-- first detail is marked active -->
          <div class="grid-item-detail active"><p>Description</p></div>
          <div class="grid-item-detail"><p>Keywords, Facets, Categories, etc</p></div>
          <div class="grid-item-detail"><p>Author info and lifecycle</p></div>
          <div class="grid-item-detail"><p>Additional info</p></div>
        </div>
        <div class="grid-item-detail-tabs">
          <!-- first detail-tab button is marked active -->
          <button type="button" class="btn btn-sm btn-link active">
            <span class="glyphicon glyphicon-info-sign"></span>
          </button>
          <button type="button" class="btn btn-sm btn-link">
            <span class="glyphicon glyphicon-tags"></span>
          </button>
          <button type="button" class="btn btn-sm btn-link">
            <span class="glyphicon glyphicon-user"></span>
          </button>
          <button type="button" class="btn btn-sm btn-link">
            <span class="glyphicon glyphicon-download-alt"></span>
          </button>   
        </div>
      </div>
    </div>

\* ------------------------------------------- */


.grid-item {

    position:       relative;
    margin:         @px-xlg @px-none;
    overflow:       hidden;
    border-radius:  2px;
    background:     #fff;
    color:          @color-gray-dk;
        
    .border;
    .shadowed-bottom-xlt;



    .thumbnail {
        height:       12rem;
        overflow:     hidden;
        padding:      0;
        margin:       0;
        text-align:   center;
        border-width: 0 0 1px;
        background:   #f2f2f2;
        border-radius: 0;

        & img { width: 100%; }
        & .glyphicon {
            font-size:  7rem;
            margin-top: 15%;
        }
    }

    .grid-item-fab {
        position: absolute;
        top: 11rem;
        right: 0.5rem;
    }

    .grid-item-badge {
        position: absolute;
        top: 10rem;
        background: #393;
        color: #fff;
        padding: 0.3rem;
    }

    .grid-item-title {
        padding: 0.5rem 1rem 0;
        height: 3rem;
        margin: 1rem 0 0;
        font-size: 1.125rem;
        font-weight: 700;
        overflow: hidden;
        line-height: 1.25rem;
    }

    .grid-item-details {
        height: 12rem;
        padding: 0.5rem 1rem;
    }

    .grid-item-detail {
        display: none;
        height: 100%;
        overflow: auto;
        font-size: 85%;
    }
    .grid-item-detail.active {
        background: transparent;
        color: @color-gray-dk;
        display: block;
    }

    .grid-item-detail-tabs {
        padding: 0 0.25rem 0.125rem;
        background-color: lighten(@color-gray-xlt, 10%);
        border-top: 1px solid @color-gray-xlt;
    }
    .grid-item-detail-tabs .btn {
        color: @color-gray-md;

        &:focus {
            outline: none;  //override bootstrap highlight
        }
    }
    .grid-item-detail-tabs .btn.active {
        background-color: #fff;
        border-color: #fff;
        border-radius: 0 0 2px 2px;
        color: @color-gray-dk;
        box-shadow: 0 1px 1px rgba(0,0,0,0.3);
        margin-top: -1px;
    }

    &:hover {
        .border-color(@color-accent);
    }

    //don't let selected/active status alter color inside item
    &.selected, &.active {
        background: #fff;
        color: @color-gray-dk;
        box-shadow: 0 1px 3px @color-active;
        border-color: @color-active;
    }

}




/*
.grid-item {

    position: relative;
    overflow: hidden;
    margin:   @px-xlg @px-none;
    border-radius: 2px;

    .border;
    .shadowed-bottom-xlt;

    .selector {
        position: absolute;
        top:      0;
        right:    0;
        z-index:  1;
    }

    & > .thumbnail {
        height:       200px;
        overflow:     hidden;
        padding:      0;
        margin:       0;
        text-align:   center;
        border-width: 0 0 1px;
        background:   #f2f2f2;
        border-radius: 0;

        & img {
            width: 100%;
        }
        & .glyphicon {
            font-size:  7em;
            margin-top: 15%;
        }
    }

    .details {

        position:   relative;
        padding:    @px-xlg;

        &.quick {

            height: 16rem;

            h5 { 
                height: 2rem;
                overflow: hidden; 
                margin-top: 0;
            }

            .detail {

                font-size: 85%;

                &.detail-md {
                    height: 2rem;
                    overflow: hidden;    
                }
                &.detail-lg {
                    height: 3.75rem;
                    overflow: hidden;
                }
            }

            .actions {
                position: absolute;
                top:      -@px-xlg;
                right:      @px-md;
                z-index:         2;

                .btn {
                    .shadowed-bottom;
                }
            }

            .type {
                position: absolute;
                top: -21px;
                left: 0px;
                z-index: 1;
                font-size: 85%;
                padding: @px-xs @px-sm;
                border-radius: 0px;
                .accented();
            }
        }

        &.full {
            display: none;
        }
    }

    &:hover {
        .border-color(@color-accent);
    }

    //don't let selected/active status alter color inside item
    &.selected, &.active {
        background: transparent;
        color: @color-gray-dk;
        box-shadow: 0 1px 3px @color-active;
        border-color: @color-active;
    }


    .form-group label, .form-group .control-label { 
        margin-bottom: 0; 
        font-weight: 500;
    }

}
*/