
nav.mobile-menu {

    position:   fixed;
    top:        50px;
    bottom:     0px;
    width:      100%;
    padding:    0;
    z-index:    1000;
    background-color: fadeout(@color-gray-dk, 30%);
        

    //slides in from left
    &.mobile-menu-left {
        left: -100%;
        -webkit-transition: .3s linear left;
        -moz-transition: .3s linear left;
        -o-transition: .3s linear left;
        transition: .3s linear left;

        &.open {
            left: 0;
        }
    }

    //slides in from right
    &.mobile-menu-right {
        right: -100%;
        -webkit-transition: .3s linear right;
        -moz-transition: .3s linear right;
        -o-transition: .3s linear right;
        transition: .3s linear right;

        &.open {
            right: 0;
        }
    }

    

    & > ul {
        position: absolute;
        right: 0;
        width:      95%;
        height:     100%;
        padding:    0;
        overflow:   auto;
        overflow-x: hidden;
        list-style: none;
        box-shadow: -1px 0 3px rgba(0,0,0,0.5);
        background: #fff;

        li {

            display: block;
            
            &.header {
                font-size:      18px;
                padding:        @px-xxlg @px-xlg @px-xlg;
                border:         none;
                text-transform: uppercase;
                border-bottom: 1px solid @color-gray-lt;
                background-color: #f5f5f5;

                &.account-details {
                    font-size:      inherit;
                    text-transform: none;
                    .media-heading { 
                        font-weight: 700; 
                    }
                    .glyphicon { 
                        font-size: 6rem; 
                    }
                    & a.btn {
                        text-transform: none;
                    }
                    hr {
                        margin: @px-xs @px-none @px-md;
                    }
                }
            }

            & > ul.sub-menu {
                width:  100%;
                padding: @px-none;
                // border-left: @px-md solid @color-accent;

                li > a {
                    .text-gray-md;
                    
                    & > .glyphicon {
                        margin-right: @px-lg;
                    }
                }
            }

            & > a:not(.btn) {
                display:        block;
                padding:        @px-lg @px-xlg;
                clear:          both;
                text-transform: uppercase;
                border-bottom: 1px solid @color-gray-xlt;
                font-size:      0.9em;
                
                & > .glyphicon {
                    margin-right: @px-xs;
                }

            }
        }
    }
}


@media (min-width: 992px) {

    nav.mobile-menu {
        display: none;
    }
}
