
//core colors
@color-primary:  #112158;
@color-accent:   #393;
@color-active:   #428bca;

//utility colors
@color-gray-dk:  #333;
@color-gray-md:  #777;
@color-gray-lt:  #bbb;
@color-gray-xlt: #ddd;
@color-white:    #fff;

//bootstrap colors
@color-success:  #5cb85c;
@color-info:     #5bc0de;
@color-warning:  #f0ad4e;
@color-danger:   #d9534f;

//misc colors
@color-wild:     #ff009a;
@color-pink:     #e25284;




/* px values */
@px-none:  0px;
@px-xs:    0.125em;    //2px for 16px default
@px-sm:    0.25em;     //4px  ...
@px-md:    0.5em;      //8px  ...
@px-lg:    0.75em;     //12px ...
@px-xlg:   1em;        //16px ...
@px-xxlg:  1.5em;      //24px ...
@px-xxxlg: 2em;        //32px ...

@px-bootstrap-default: 15px;

@screen-xs-min: 480px;  //phone
@screen-xs-max: 767px;
@screen-sm-min: 768px;  //tablet
@screen-sm-max: 991px;
@screen-md-min: 992px;  //desktop
@screen-md-max: 1199px;
@screen-lg-min: 1200px; //large desktop