
/*
    USED TEMPORARILY
 */


//core colors
@color-primary:  #112158;
@color-accent:   #283;
@color-active:   #2079c5; //#0073d5; //#428bca;
                //337ab7

//utility colors
@color-gray-dk:  #333;
@color-gray-md:  #747474;
@color-gray-lt:  #bbb;
@color-gray-xlt: #ddd;
@color-gray-xxlt: #efefef;
@color-gray-xxxlt: #f5f5f5;
@color-white:    #fff;

//bootstrap colors
@color-success:  #5cb85c;
@color-info:     #007fa4; //#007285; //#5bc0de;
@color-warning:  #b35d29;
@color-danger:   #d53c37;

//misc colors
@color-wild:     #ff009a;
@color-pink:     #e25284;

//blue colors
@color-blue-dk: #102A46;
@color-blue-md: #185b8a;
@color-blue-lt: #3176a7;
@color-blue-xlt: #5b9bca; //#3a78a5;//#4b96cc;


@default_font_size: 16px;

@sz-xxxlg : 2em;
@sz-xxlg  : 1.75em;
@sz-xlg   : 1.5em;
@sz-lg    : 1.25em;
@sz-md    : 1em;
@sz-sm    : 0.75em;
@sz-xs    : 0.5em;
@sz-xxs   : 0.25em;

@text-gargantuan: 4em;
@text-huge  : 3em;
@text-xxxlg : 2em;
@text-xxlg  : 1.75em;
@text-xlg   : 1.5em;
@text-lg    : 1.25em;
@text-md    : 1em;
@text-sm    : 0.875em;
@text-xs    : 0.75em;



@screen-xs-min: 480px;  //phone
@screen-xs-max: 767px;
@screen-sm-min: 768px;  //tablet
@screen-sm-max: 991px;
@screen-md-min: 992px;  //desktop
@screen-md-max: 1199px;
@screen-lg-min: 1200px; //large desktop
